alias hs='history | grep'
alias ll='ls -lart'
alias econf='atom ~/.ssh/config'

alias ap='ansible-playbook'
alias ag='ansible-galaxy init'
alias av='ansible-vault edit'

alias dcu='docker-compose up -d'
alias dcd='docker-compose down'
